@import "resets";
@import "variables";

@mixin border {
	padding: 30px;
	background: $secondary-color;
	color: $text-color1;
	border: 2px solid $details-color;
	border-radius: 20px;
}

@mixin flexCenter($content) {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: $content;
}

body {
	width: 100%;
	flex-direction: column;
	background: linear-gradient(
		to right bottom,
		$primary-color,
		$secondary-color
	);
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	color: $text-color1;
	@include flexCenter(center);
}

header {
	width: 100%;
	@include flexCenter(center);
}

h1 {
	margin: 20px;
	font-size: 64px;
	letter-spacing: 8px;
	@include flexCenter(center);
	@include border;
}

h2 {
	margin: 20px;
	font-size: 32px;
	letter-spacing: 2px;
	@include border;
}

.options {
	display: flex;
}

img {
	width: 300px;
	height: 300px;
}

.choice {
	margin: 30px;
	padding: 20px;
	cursor: pointer;
	@include flexCenter(space-between);

	p {
		margin-top: 20px;
	}

	&:hover {
		background: radial-gradient(rgb(245, 245, 245), #f5f5f56b);
		border-radius: 20%;
		color: $primary-color;
	}
}
